html, body { 
    background: url(img/page1.png) no-repeat center center fixed; 
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.presentation{
    text-align: center;
    position: relative;
    transform: translateY(50%);
    padding: 8px;
}

::-webkit-scrollbar {
    display: none;
}

.name{
    font-size: 32px;
    text-decoration: bold;
    color: rgb(255, 255, 255);
}

.description{
    font-size: 23px;
    text-decoration: bold;
    color: rgb(255, 255, 255);
}

.btn{
    position: relative;
    transform: translateY(10vh);
}

.img-fluid{
   transform: translateY(-2vh);
   width: 150px; 
   height: 150px;
}

.jafs_name{
    font-size: 40px;
    color: whitesmoke;
}

.nav-link{
    font-size: 20px;
    padding: 10px;
}

@media (max-width: 700px) {

    .presentation{
        text-align: center;
        position: relative;
        transform: translateY(30%);
        padding: 8px;
    }

    .name{
        font-size: 25px;
    }
    .description{
        font-size: 18px;
    }
    .jafs_name{
        font-size: 30px;
    }
    .btn{
        position: relative;
        transform: translateY(2vh);
        width: 10vh;
        height: 10vh;
    }
    .nav-link{
        font-size: 18px;
    }
}
